/* STANDARD - STYLES */
header {
    border-bottom: 2px solid #06244b;
    height: 54px;
    width: 100%;
    padding-top: 10px;
}

body {
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}




/* HEADER - STYLES */

.rareVormenBoven {
    position: absolute;
    top: -10px;
    width: 90%;
    height: 60px;
}

#logo_header {
    margin-top: -6px;
    width: auto;
    height: auto;
    display: inline-block;
    margin-left: 50px;
}

#nav_header {
    width: auto;
    height: auto;
	margin-left: 400px;
    margin-top: -20px;
    left: 250px;
}

#nav_header ul li {
    display: inline;
    list-style-type: none;
}

#nav_header ul {
    margin: 0;
    height: 20px;
}

#nav_header ul li:first-of-type {
    margin-left: 0;
}

#nav_header ul li a {
    font-family: Roboto;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    font-family: 'Roboto-italic', sans-serif;
}

#nav_header ul li a:hover {

    color: #FFF;
}

.home {
    color: #d90808;
}

.wegwijzer {
    color: #b54286;
}

.mijnSchool {
    color: #ee8a06;
}

.programmas {
    color: #002d72;
}

#login_gegevens a {
    text-decoration: none;
    color: red;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right:10px;
    top: 10px;
}

.uitloggen {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-bold', sans-serif !important;
}




/* CONTENT - STYLES */

#slider_afbeelding img {
    width: 100%;
    display: inline-block;
}

#slider_afbeelding {
}

#slider_tekst {
	display:none;
    position: absolute;
    background-color: #FFF;
}

#slider_tekst h1 {
    margin: 0px;

}
footer {

}
footer img {
	width: 100%;
	display:block;
	z-index: 5;
}
footer p {
	z-index: 1;
	color: white;
	padding-top: -2px;
	text-align: center;
	background-color: #003581;
	margin: 0 auto;
}

.inhoud {
	height: 300px;
}
.opleiding {
    padding: 10px;
    background-color: #002d72;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 30px;
    margin-top: -25px;
    position: absolute;
}

.informatie {
    padding: 5px 10px 5px 10px;
    background-color: #4468a3;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 276px;
    margin-top: -17px;
    position: absolute;
}

.informatie:hover, .lesmaterialen:hover, .stage:hover, .roosters:hover, .upload:hover {
    padding: 5px 10px 30px 10px;
    transition: .5s;
}

.informatie:hover {
    background-color: #93b920;
}

.lesmaterialen:hover {
    background-color: #b54286;
}

.stage:hover {
    background-color: #d90808;
}

.roosters:hover {
    background-color: #ee8a06;
}
.upload:hover {
	background-color: brown;
}

.lesmaterialen {
    padding: 5px 10px 5px 10px;
    background-color: #4468a3;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 380px;
    margin-top: -17px;
    position: absolute;
}

.stage {
    padding: 5px 10px 5px 10px;
    background-color: #4468a3;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 508px;
    margin-top: -17px;
    position: absolute;
}

.roosters {
    padding: 5px 10px 5px 10px;
    background-color: #4468a3;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 625px;
    margin-top: -17px;
    position: absolute;
}

.upload {
    padding: 5px 10px 5px 10px;
    background-color: #4468a3;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 720px;
    margin-top: -17px;
    position: absolute;
}
/* TEST */

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	float: left;
	margin-right: 1px;
}
/*Style for menu links*/
li a {
	margin-top: -2px;
	display:block;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
background-color: #06244b;
color: white;
}

/*Style for dropdown links*/
li:hover ul a {
	color: #fff;
	text-align: left;
	width: 200px;
    background-color: #06244b;
    margin-top: -19px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
 background-color: #4468a3;
 transition: 0.5s;
}
/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

.formulier {
    width: 80%;
    margin-left: 20px;
    height: auto;
}

.formulier h1 {
    border-bottom: 1px solid #b54286;
    padding-left: 30px;
    padding-right: 30px;
    font-style: "Roboto-regular";
    font-weight: 300;
}

.formulier h1:first-of-type {
    border-bottom: 1px solid #b54286;
}

.formulier p {
    margin: 0;
}

.text {
    width: 30%;
    display: block;
    margin-top: 20px;
    height: 20px;
    border-color: border 1px solid #002d72;
    font-size: 12px;
    font-style: "Roboto-regular";
}
