



header {
    border-bottom: 2px solid #06244b;
    height: 80px;
    width: 100%;
    padding-top: 10px;
}

body {
    margin: 0px;
}





.rareVormenBoven {
    position: absolute;
    top: -10px;
    width: 90%;
    height: 60px;
}

#logo_header {
    margin-top: 10px;
    width: auto;
    height: auto;
    display: inline-block;
    margin-left: 50px;
}

#nav_header {
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 62px;
    left: 250px;
}

#nav_header ul li {
    display: inline;
    list-style-type: none;
}

#nav_header ul {
    margin: 0;
}

#nav_header ul li:first-of-type {
    margin-left: 0;
}

#nav_header ul li a {
    font-family: Roboto;
    text-decoration: none;
    font-size: 21px;
    padding: 5px 20px 5px 20px;
    font-family: 'Roboto-italic', sans-serif;
}

#nav_header ul li a:hover {
    background-color: #06244b;
    color: #FFF;
}

.home {
    color: #d90808;
}

.wegwijzer {
    color: #b54286;
}

.mijnSchool {
    color: #ee8a06;
}

.programmas {
    color: #002d72;
}

#login_gegevens a {
    text-decoration: none;
    color: red;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right:10px;
    top: 10px;
}

.uitloggen {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-bold', sans-serif !important;
}

#slider_afbeelding img {
    width: 100%;
    display: inline-block;
}

#slider_afbeelding {
}

.opleiding {
    padding: 10px;
    background-color: #93b920;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Roboto-bold', sans-serif !important;
    color: #FFF;
    margin-left: 30px;
    margin-top: -25px;
    position: absolute;
}
