header {
    border-bottom: 2px solid #06244b;
    height: 100px;
    width: 100%;
    padding: 10px 10px 0 10px;
}

body {
    margin: 0px;
}







#logo_header {
    margin-top: 20px;
    width: auto;
    height: auto;
}

#nav_header {
    width: auto;
    height: auto;
}

#nav_header ul li {
    display: inline;
    list-style-type: none;
}
